/build/
/out/
/bin/
/Debug/
/Release/
/x64/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

*.exe
*.o
*.obj
*.dll
*.a
*.lib

!/SFML/lib/**
!/SFML/bin/**

.vscode/

.vs/
*.sln
*.vcxproj
*.vcxproj.*
*.user

*.pdb
*.ilk
*.idb
*.exp
*.tlog
*.recipe
*.log
*.lastbuildstate